/.cpcache/
/out/
/target/
/.cljs_node_repl/
__pycache__/
*.pyc
/site/public/main.js
*.swp
/pom.xml

# ISO/IEC 18004 text extractions: copyrighted, local search aids only,
# never to be committed or published.
/resources/docs/qrity-iso-18004.txt
/resources/docs/qrity-iso-clean.txt
