{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.12.0"}}

 :aliases
 {:build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
   :ns-default build}

  :deploy
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
   :main-opts ["-m" "deps-deploy.deps-deploy" "deploy"
               "target/qrity-0.1.0.jar"]}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/test.check {:mvn/version "1.1.3"}}
   :main-opts ["-m" "qrity.test-runner"]}

  :cljs-test
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.12.145"}
    org.clojure/test.check {:mvn/version "1.1.3"}}
   :main-opts ["-m" "qrity.node-test-runner"]}

  :site
  {:extra-paths ["site/src"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.12.145"}}
   :main-opts ["-m" "cljs.main"
               "--optimizations" "advanced"
               "--output-dir" "target/site"
               "--output-to" "site/public/main.js"
               "--compile" "qrity.site"]}

  :decode-image
  {:extra-paths ["test"]
   :main-opts ["-m" "qrity.decode-runner"]}

  :emit-symbol
  {:extra-paths ["test"]
   :main-opts ["-m" "qrity.symbol-emit"]}

  :interop-jvm
  {:extra-paths ["test"]
   :main-opts ["-m" "qrity.interop-emit"]}

  :generalized-interop-jvm
  {:extra-paths ["test"]
   :main-opts ["-m" "qrity.generalized-interop-emit"]}

  :interop-cljs
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.12.145"}}
   :main-opts ["-m" "qrity.node-interop-runner"]}

  :generalized-interop-cljs
  {:extra-paths ["test"]
   :extra-deps
   {org.clojure/clojurescript {:mvn/version "1.12.145"}}
   :main-opts ["-m" "qrity.node-interop-runner" "--generalized"]}}}
